<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/style.css'?>">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/normal.css'?>">
</head>
<body>
	<div class="login">
		<div class="comWidth">
			<form name="input" action="<?php echo site_url().'index.php/Login/add'?>" enctype="multipart/form-data" method="post">
				<ul>
					<li>
						姓&nbsp;名：<input type="text"  name="name" required="required"><b id="nameError"></b>
					</li>
					<li>性&nbsp;别
						<label for="male">男</label><input type="radio" value="男" id="male" name="sex" />
						<label for="female">女</label><input type="radio" value="女" id="female" name="sex" />
						<label for="secret">保密</label><input type="radio" value="保密" id="secret" name="sex" />
					</li>
					<li>
						邮&nbsp;箱：<input type="text" name="email" required="required"><b id="count"></b>
						<ul class="emailHelp">
							<li><span></span>@qq.com</li>
							<li><span></span>@gmail.com</li>
							<li><span></span>@hotmail.com</li>
							<li><span></span>@163.com</li>
							<li><span></span>@126.com</li>
							<li><span></span>@163.net</li>
							<li><span></span>@yahoo.com</li>
							<li><span></span>@yahoo.com.cn</li>
						</ul>
					</li>

					<li>
						电话号码：<input type="text" required="required"><b id="phoneW"></b>
					</li>
					<li>
						年&nbsp;级：
						<!-- <input type="text" placeholder="格式：2016级"> -->
						<select>
	                        <option>1990级</option>
	                        <option>1991级</option>
	                        <option>1992级</option>
	                        <option>1993级</option>
	                        <option>1994级</option>
	                        <option>1995级</option>
	                        <option>1996级</option>
	                        <option>1997级</option>
	                        <option>1998级</option>
	                        <option>1999级</option>
	                        <option>2000级</option>
	                        <option>2001级</option>
	                        <option>2002级</option>
	                        <option>2003级</option>
	                        <option>2004级</option>
	                        <option>2005级</option>
	                        <option>2006级</option>
	                        <option>2007级</option>
	                        <option>2008级</option>
	                        <option>2009级</option>
	                        <option>2010级</option>
	                        <option>2011级</option>
	                        <option>2012级</option>
	                        <option>2013级</option>
	                        <option>2014级</option>
	                        <option>2015级</option>
	                        <option>2016级</option>
	                       
	                    </select>（毕业年份为准）
					</li>
					<li>
						学&nbsp;院：<input type="text">
						<ul class="schoolList">
							<li>通信与信息工程学院</li>
							<li>电子工程学院</li>
							<li>英才实验学院</li>
							<li>物理电子学院</li>
							<li>计算机科学与工程学院</li>
							<li>自动化工程学院</li>
							<li>信息与软件工程学院</li>
							<li>数学科学学院</li>
							<li>微电子与固体电子学院</li>
							<li>机械电子工程学院</li>
							<li>航空航天学院</li>
							<li>生命科学与技术学院</li>
							<li>经济与管理学院</li>
							<li>外国语学院</li>
							<li>格拉斯哥学院</li>
							<li>政治与公共管理学院</li>
							<li>马克思主义教育学院</li>
							<li>资源与环境学院</li>
							<li>能源科学与工程学院</li>
							<li>医学院</li>
							<li>成都学院</li>
							<li>中山学院</li>
						</ul>
					</li>
					<li>公司：<input type="text" required="required" /></li>
					<li class="di" id="dr0">
						技术方向：
	                    <select>
	                        <option>软件研发工程师</option>
	                        <option>硬件研发工程师</option>
	                        <option>运维工程师</option>
	                        <option>UI设计师</option>
	                        <option>产品运营</option>
	                        <option>市场营销</option>
	                        <option>其他...</option>
	                    </select>

					</li>
	                
				</ul>
	                <li id="logo">
					    头像<input type="file" name="image" />
	                </li>
	                <li>想说的话：<input type="text" min="1" max="400" /></li>
	                <!-- <li id="hidden"><input value="0" type="hidden" /></li> -->
	                <input type="submit" value="提交表单" />
		</div>
		<p>验证码：<input type="text" class="input" name="captcha" id="captcha">
    <img src="<?php echo site_url('index.php/login/get_code'); ?>" id="code" style="cursor:pointer;"
         onclick="this.src = this.src + '?re=' +Math.random()" title="点击刷新（不区分大小写）" />
	</form>
	</div>
	<script type="text/javascript" src="<?php echo base_url().'style/index.js'?>"></script>
</body>
</html>
