*{
    margin:0 0;
    padding: 0 0;
}
body{
    font-size: 12px;
}
select,textarea{
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: #656565;;
}
a:hover{
    color:red;
    text-decoration:underline;
}
li{
    list-style:none;
}
.fl{
    float:left;
}
.fr{
    float: right;
}